# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
Backend/venv/

# Environment variables / secrets
.env
Backend/.env

# Database
db.sqlite3
Backend/db.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store


# Node modules
node_modules/

# Frontend build
dist/

media/